.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding-block: 8px;
    /* position: relative; */
    bottom: 0;
    width: 100%;
  }
  
  
  .footer .copyright {
    font-size: 12px;
  }

